@import url("https://fonts.googleapis.com/css?family=Titillium+Web:300,400,900");

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}


body {
    background: black;
    box-sizing: border-box;
}

.full-name {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-transform: uppercase;
    font-style: normal;
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-left: 2rem;
    text-decoration: none;
    border: solid white;
    border-top: 0;
    border-right: 0;
    transition: 1.2s;
    width: 100%;
    height: 5rem;
    margin-left: 15%;
}

.full-name:hover {
    background: white;
    color: black;
    outline: 3px solid white;
    width: 100%;
    outline-offset: 10px;
    transition: 1s;
    transition-timing-function: ease-out;
}

header {
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
    margin-left: 30%;
}



.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    height: 100%; 
    width: 25%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color:rgba(0,0,0,0.2); 
    overflow-x: hidden; 
    border-right: solid;
    border-color: white;
    z-index: 1;
}

.nav a {
    margin: 1rem;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    text-decoration: none;
    padding: 1rem;
    display: flex;
    align-content: center;
    outline: solid 1px;
    transition: 0.7s;
    transition-timing-function: ease-out;
}

.nav a:hover {
    outline: solid;
    background: white;
    color: black;
    margin-left: 2rem;
    transition: 0.7s;
    transition-timing-function: ease-out;
}

.custom-footer {
  position: absolute;
  bottom: 0;
  border-top: solid;
  border-color: white;
  border-width: 1px;
  box-sizing: border-box;
  width: 25%;
  height: 35px;
  background-image: linear-gradient(135deg, #000000 38.46%, #ffffff 38.46%, #ffffff 50%, #000000 50%, #000000 88.46%, #ffffff 88.46%, #ffffff 100%);
  background-size: 18.38px 18.38px;
  z-index: 2;
}

.custom-footer:hover {
    transition: background-image background-size 1s;
    background-image: linear-gradient(45deg, #000000 38.46%, #ffffff 38.46%, #ffffff 50%, #000000 50%, #000000 88.46%, #ffffff 88.46%, #ffffff 100%);
    background-size: 18.38px 18.38px;
}

.custom-header {
  position: absolute;
  top: 0;
  border-bottom: solid;
  border-color: white;
  border-width: 1px;
  box-sizing: border-box;
  width: 25%;
  height: 35px;
  background-image: linear-gradient(45deg, #000000 38.46%, #ffffff 38.46%, #ffffff 50%, #000000 50%, #000000 88.46%, #ffffff 88.46%, #ffffff 100%);
  background-size: 18.38px 18.38px;
  z-index: 2;
}

.custom-header:hover {
    transition: all 1s;
    background-image: linear-gradient(135deg, #000000 38.46%, #ffffff 38.46%, #ffffff 50%, #000000 50%, #000000 88.46%, #ffffff 88.46%, #ffffff 100%);
    background-size: 18.38px 18.38px;
}

.copyright {
    position: absolute;
    text-combine-upright: all;
    bottom: 0;
    right: 0;
    width: 3rem;
    height: 10rem;
    border: solid white;
    border-right: 0;
    border-width: 1px;
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    margin-bottom: 20px;
    transition: 0.7s;
}

.copyright:hover {
    transition: 0.7s;
    color: white;
    font-size: 18pt;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-content: center;
    padding-left: 10px;
    padding-right: 10px;
    height: 15rem;
    width: 4rem;
    outline: solid white 1px;
    outline-offset: 10px;
}

.easter-egg {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(components/p.png);
    position: absolute;
    left: 26.4rem;
    top: 2.7rem;
    transition: 0.6s;
    text-decoration: none;
    color: black;
}

.easter-egg:hover {
    height: 100px;
    width: 100px;
    background-color: white;
    transition: 3s linear;
    transform-origin: center center;
    animation-name: rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

@keyframes rotate { 100% {
    background-image: url(components/p.png);
    transform: rotate(360deg); 
    background-color: darkred;  
}
}