.about {
    margin-left: 25%; 
}

.about-content {
    display: flex;
    flex-direction: row;
}
.title {
    height: 4rem;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    font-weight: 200;
    border-bottom: solid white 1px;
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-family: 'Titillium Web', sans-serif;
    color: white;
    height: 30rem;
    width: 30rem;
    margin: 2rem;
    margin-top: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
}

.mypic {
    background-image: url(./LinkImages/mypicture.jpg);
    width: 400px;
    height: 535px;
    border-left: solid white 1px;
    border-right: solid white 1px;
}

.content {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
}

